{% extends "layout.html" %}
{% block content %}
<div class="info-page-container">
    <div class="info-header">
        <i class="fas fa-envelope"></i>
        <h2>Hubungi Kami</h2>
    </div>
    <div class="info-content">
        <p>Kami senang mendengar dari Anda! Jika Anda memiliki pertanyaan, masukan, atau kendala teknis, jangan ragu
            untuk menghubungi kami melalui email di bawah ini.</p>
        <div class="contact-info">
            <p><strong>Email Dukungan:</strong> <a href="mailto:support@aiswapper.com">support@aiswapper.com</a></p>
        </div>
    </div>
</div>
{% endblock content %}